<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <connectionStrings>
    <add name="Default" providerName="System.Data.SqlClient" connectionString="Server=lorna3.esbjmant.intranet;Database=TecnodimWeb_TECFY_HOM;User Id=UsrAdminTecfy; Password=T3cfy@dm1n;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="DefaultSer" providerName="System.Data.SqlClient" connectionString="Server=lorna3.esbjmant.intranet;Database=ESBJ_INTEGRACAO_TESTE;User Id=UsrAdminTecfy; Password=T3cfy@dm1n;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="DefaultCap" providerName="System.Data.SqlClient" connectionString="Server=192.168.20.24;Database=CAPPImplantacao;User Id=appCappServicesDB; Password=ApP8srVc19t3cfy9;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <!--SoftExpert.Connection.Connection-->
    <add key="SoftExpert.Username" value="tecfy" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!--/SoftExpert.Connection.Connection-->
    <!--Repository.SaveRegisterEvent-->
    <add key="Repository.SaveRegisterEvent" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!--/Repository.SaveRegisterEvent-->
    <!--ApiTecnodim-->
    <add key="UrlBase" value="https://gedadminhomol.sereduc.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ApiTecnodim.URL" value="https://gedapihomol.sereduc.com/api" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!--/ApiTecnodim-->
    <!--File-->
    <add key="Path" value="C:\inetpub\wwwroot\Tecfy\Tecnodim" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!--/File-->
    <!--ADFS-->
    <add key="ADFS.FederationMetadata" value="https://fs-corp.sempreser.com.br/federationmetadata/2007-06/federationmetadata.xml" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ADFS.Trust" value="http://fs-corp.sempreser.com.br/adfs/services/trust" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ADFS.LS" value="https://fs-corp.sempreser.com.br/adfs/ls" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ADFS.SSO" value="https://gedadminhomol.sereduc.com/auth/sso" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ADFS.EntityId" value="https://gedadminhomol.sereduc.com/IdSrv3/Saml2" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ADFS.ReturnUrl" value="https://gedadminhomol.sereduc.com/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ADFS.Path.Module" value="/IdSrv3/Saml2" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ADFS.Path.ServiceCertificate" value="/App_Data/Sustainsys.Saml2.Tecnodim.pfx" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ADFS.Path.SigningKey" value="~/App_Data/stubidp.sustainsys.com.cer" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ADFS.Organization.Name" value="Tecfy - Tecnodim" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ADFS.Organization.Url" value="http://tecfy.com.br/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ADFS.Organization.Email.Technical" value="desenvolvimento@tecfy.com.br" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ADFS.Organization.Email.Support" value="desenvolvimento@tecfy.com.br" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ADFS.FirstName" value="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/givenname" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ADFS.LastName" value="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/surname" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ADFS.Registration" value="http://schemas.microsoft.com/ws/2008/06/identity/claims/windowsaccountname" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ADFS.Email" value="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ADFS.Unit" value="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/office" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ADFS.UnitCode" value="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/division" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!--ADFS-->
    <!--Repository.GetDocumentDetailSER.TOPLimit-->
    <add key="Repository.GetDocumentDetailSER.TOPLimit" value="50" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!--/Repository.GetDocumentDetailSER.TOPLimit-->
  </appSettings>

</configuration>