<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB"-->

    <connectionStrings>
      <add name="Default" providerName="System.Data.SqlClient" connectionString="Server=192.168.0.42;Database=TecnodimWeb_TECFY;User Id=UsrAdminTecfy; Password=T3cfy@dm2n;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <add name="DefaultSer" providerName="System.Data.SqlClient" connectionString="Server=192.168.0.42;Database=ESBJ_INTEGRACAO;User Id=UsrAdminTecfy; Password=T3cfy@dm2n;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>

    <appSettings>
      <!--Repository.SaveRegisterEvent-->
      <add key="Repository.SaveRegisterEvent" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
      <!--/Repository.SaveRegisterEvent-->
      <!--ApiTecnodim-->
      <add key="UrlBase" value="https://gedadmin.sereduc.com/api" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
      <add key="ApiTecnodim.URL" value="https://gedapi.sereduc.com/api" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
      <!--/ApiTecnodim-->
      <!--ADFS-->
      <add key="ADFS.FederationMetadata" value="https://sts.sempreser.com.br/FederationMetadata/2007-06/FederationMetadata.xml" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
      <add key="ADFS.SSO" value="https://technodimweb.sereduc.com/auth/sso" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
      <add key="ADFS.Trust" value="http://sts.sempreser.com.br/adfs/services/trust" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
      <add key="ADFS.LS" value="https://sts.sempreser.com.br/adfs/ls" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
      <add key="ADFS.EntityId" value="https://gedadmin.sereduc.com/IdSrv3/Saml2" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
      <add key="ADFS.ReturnUrl" value="https://gedadmin.sereduc.com/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
      <add key="ADFS.Path.Module" value="/IdSrv3/Saml2" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
      <add key="ADFS.Path.ServiceCertificate" value="/App_Data/Sustainsys.Saml2.Tecnodim.pfx" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
      <add key="ADFS.Path.SigningKey" value="~/App_Data/stubidp.sustainsys.com.cer" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
      <add key="ADFS.Organization.Name" value="Tecfy - Tecnodim" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
      <add key="ADFS.Organization.Url" value="http://tecfy.com.br/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
      <add key="ADFS.Organization.Email.Technical" value="desenvolvimento@tecfy.com.br" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
      <add key="ADFS.Organization.Email.Support" value="desenvolvimento@tecfy.com.br" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
      <add key="ADFS.FirstName" value="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/givenname" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
      <add key="ADFS.LastName" value="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/surname" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
      <add key="ADFS.Registration" value="http://schemas.microsoft.com/ws/2008/06/identity/claims/windowsaccountname" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
      <add key="ADFS.Email" value="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
      <add key="ADFS.Unit" value="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/office" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
      <!--ADFS-->
    </appSettings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>