<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>

    <add name="Default" providerName="System.Data.SqlClient" connectionString="Server=35.192.175.82;Database=TecnodimWeb;User Id=tecnodimweb; Password=#k0t0via1.;" />
    <add name="DefaultSer" providerName="System.Data.SqlClient" connectionString="Server=35.192.175.82;Database=ESBJ_INTEGRACAO_TESTE;User Id=sa; Password=k0t0via1.;" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Pagination.qtdEntries" value="25" />
    <add key="Pagination.qtdActionNumber" value="10" />
    <add key="UrlBase" value="http://localhost:9098/Api" />
    <!--Helper.RestRequestHelper-->
    <add key="Helper.RestRequestHelper.Get.ApiKey" value="DE8A02B8-2B4E-4C94-B857-92857E84B36C" />
    <add key="Helper.RestRequestHelper.Get.ApiUser" value="Tecnodim" />
    <!--/Helper.RestRequestHelper-->
    <!--ApiTecnodim-->
    <add key="ApiTecnodim.URL" value="http://localhost:9099/api" />
    <add key="ApiTecnodim.DocumentApi.GetECMDocument" value="/documents/GetECMDocument/{0}" />
    <add key="ApiTecnodim.DocumentApi.GetECMDocuments" value="/documents/GetECMDocuments" />
    <add key="ApiTecnodim.DocumentApi.PostECMDocumentSave" value="/documents/PostECMDocumentSave" />
    <add key="ApiTecnodim.DocumentApi.DeleteECMDocumentArchive" value="/documents/DeleteECMDocumentArchive" />
    <add key="ApiTecnodim.DocumentDetailApi.GetECMDocumentDetail" value="/documentDetails/GetECMDocumentDetail/{0}" />
    <add key="ApiTecnodim.DocumentDetailApi.GetECMDocumentDetailByRegistration" value="/documentDetails/GetECMDocumentDetailByRegistration?registration={0}&amp;unity={1}" />
    <add key="ApiTecnodim.DocumentDetailApi.GetECMDocumentDetailsByRegistration" value="/documentDetails/GetECMDocumentDetailsByRegistration?registration={0}&amp;unity={1}" />
    <add key="ApiTecnodim.DocumentDetailApi.PostECMDocumentDetailSave" value="/documentDetails/PostECMDocumentDetailSave" />
    <add key="ApiTecnodim.CategoryApi.GetECMCategories" value="/categories/GetECMCategories" />
    <add key="ApiTecnodim.AttributeApi.PostECMAttributeUpdate" value="/attributes/PostECMAttributeUpdate" />
    <add key="ApiTecnodim.JobCategoryApi.SetECMJobCategorySave" value="/jobCategories/SetECMJobCategorySave" />
    <add key="ApiTecnodim.JobCategoryApi.GetECMJobCategory" value="/jobCategories/GetECMJobCategory/{0}" />
    <add key="ApiTecnodim.JobCategoryApi.PostECMJobSave" value="/jobCategories/PostECMJobSave" />
    <add key="ApiTecnodim.JobCategoryApi.DeleteECMJobArchive" value="/jobCategories/DeleteECMJobArchive" />    
    <!--/ApiTecnodim-->
    <!--Repository.SaveRegisterEvent-->
    <add key="Repository.SaveRegisterEvent" value="true" />
    <!--/Repository.SaveRegisterEvent-->
    <!--Repository.DocumentRepository-->
    <add key="Repository.DocumentRepository.Attribute" value="SER_EstagioDoc" />
    <add key="Repository.DocumentRepository.Value" value="Classificado" />
    <!--/Repository.DocumentRepository-->
    <!--Site.Areas.Adm.Controllers.Role.Usuario-->
    <add key="Site.Areas.Adm.Controllers.Role.Usuario" value="7E2155A6-B410-4A08-A889-79F4ED2D508A" />
    <!--/Site.Areas.Adm.Controllers.Role.Usuario-->
    <!--Repository.GetDocumentDetailSER.TOPLimit-->
    <add key="Repository.GetDocumentDetailSER.TOPLimit" value="1" />
    <add key="Repository.GetDocumentDetailSER.Unity" value="001-001" />
    <!--/Repository.GetDocumentDetailSER.TOPLimit-->
    <!--Scanning.Multiple-->
    <add key="Scanning.Multiple" value="true" />
    <!--Scanning.Multiple-->
    <!--ADFS-->
    <add key="ADFS.FederationMetadata" value="https://sts.sempreser.com.br/FederationMetadata/2007-06/FederationMetadata.xml" />
    <add key="ADFS.SSO" value="https://technodimweb.sereduc.com/auth/sso" />
    <add key="ADFS.Trust" value="http://sts.sempreser.com.br/adfs/services/trust" />
    <add key="ADFS.LS" value="https://sts.sempreser.com.br/adfs/ls" />
    <add key="ADFS.EntityId" value="https://adm.tecnodimweb.tecfy.com.br/IdSrv3/Saml2" />
    <add key="ADFS.ReturnUrl" value="https://adm.tecnodimweb.tecfy.com.br/" />
    <add key="ADFS.Path.Module" value="/IdSrv3/Saml2" />
    <add key="ADFS.Path.ServiceCertificate" value="/App_Data/Sustainsys.Saml2.Tecnodim.pfx" />   
    <add key="ADFS.Path.SigningKey" value="~/App_Data/stubidp.sustainsys.com.cer" /> 
    <add key="ADFS.Organization.Name" value="Tecfy - Tecnodim" />
    <add key="ADFS.Organization.Url" value="http://tecfy.com.br/" />
    <add key="ADFS.Organization.Email.Technical" value="desenvolvimento@tecfy.com.br" />    
    <add key="ADFS.Organization.Email.Support" value="desenvolvimento@tecfy.com.br" />
    <add key="ADFS.FirstName" value="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/givenname" />
    <add key="ADFS.LastName" value="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/surname" />
    <add key="ADFS.Registration" value="http://schemas.microsoft.com/ws/2008/06/identity/claims/windowsaccountname" />
    <add key="ADFS.Email" value="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress" />
    <add key="ADFS.Unit" value="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/office" />
    <!--ADFS-->
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <globalization culture="pt-BR" uiCulture="pt-BR" />
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.7.1" />
    <httpRuntime targetFramework="4.7.1" executionTimeout="9000" maxRequestLength="2147483647"/>
    <httpModules>
    </httpModules>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />

    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols.WsFederation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens.Saml" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Xml" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
