<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--UrlBase Desenvolvimento-->
    <!--<add key="UrlBase" value="http://localhost:9098/Api" />-->
    <!--UrlBase Homologação-->
    <add key="UrlBase" value="http://adm.tecnodimweb.tecfy.com.br/Api" />
    <!--/UrlBase-->
    <!--RunUrls-->
    <add key="RunUrls" value="/Documents/GetECMDocuments|/Documents/GetECMSendDocuments|/categories/GetECMCategories" />
    <!--/RunUrls-->
  </appSettings>
</configuration>