<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <appSettings>
    <!--UrlBase Desenvolvimento-->
    <!--<add key="UrlBase" value="http://localhost:9098/Api/SyncRuntimes/GetSyncRuntimes" />-->
    <!--UrlBase Homologação-->
    <add key="UrlBase" value="http://adm.tecnodimweb.tecfy.com.br/Api/SyncRuntimes/GetSyncRuntimes" />
  </appSettings>
</configuration>